<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Teste Santander TCS</title>

      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
      
      <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  
  
      <script>
      $(document).ready(function(){
    	    $('.datepicker').datepicker({
    	        format: "dd-mm-yyyy"
    	    });
    	    

    	        $('select').formSelect();
    	        
    	        /*$('input.autocomplete').autocomplete({
    	            data: {
    	              "Apple": null,
    	              "Microsoft": null,
    	              "Google": 'https://placehold.it/250x250'
    	            },
    	          });*/

    	        
    	        $(".autocomplete").each(function () {
    	            let self = this;
    	            $(this).autocomplete();
    	            $(this).on("input change", function () {
    	                $.ajax({
    	                    url: '/api/categorias',
    	                    type: 'get',
    	                    cache: false,
    	                    data: {"some": "data"},
    	                    success: function (data) {

    	                    		console.log('data: ', data);
    	                        	$(self).autocomplete("updateData", data/*should be object*/);
    	                    	
    	                    },
    	                    error: function (err) {
    	                        console.log(err);
    	                    }
    	                });
    	            });
    	        });

    	    
    	    
    	  });
      </script>
    </head>
<body style="width:80%;text-align:center;padding:100px;">
<h3>Teste Santander TCS</h3><br/>
<h5>Cadastro de Gastos</h5>
<div class="row">
<form action="/salvargastos" method="POST" th:object="${gastosobj}" class="col s12" id="formgastos">

			<div class="row">
				<div class="input-field col s6">
					<label for="id" class="active">Codigo Usuario</label> <input name="codigousuario" th:field="*{codigousuario}"
						readonly="readonly" id="codigousuario" class="validade">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<label for="nome" class="active">Descricao</label> <input name="descricao" th:field="*{descricao}" id="descricao" class="validade">
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<label for="sobrenome" class="active">Valor</label> <input name="valor" id="valor"
						th:field="*{valor}" class="validade">
				</div>

				<div class="input-field col s12">
					<label for="idade" class="active">Data</label> <input name="data" th:field="*{data}" id="data" class="validade datepicker"> 
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s12" >
					<label for="idade" class="active">Categoria</label> 
				    <select class="active" th:field="${gastosobj.categoria.id}"  id="dropCageoria">
					    <option value="0" >selecione categoria --></option>
					    <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nome}"></option>
				    </select><a href="/listacategoria">Lista Categoriass</a>
			    </div>
			</div>

			<div class="row">
				<div class="input-field col s6">
					<input type="submit" value="Salvar"
						class="waves-effect waves-light btn">

					<button
						class="waves-effect waves-light btn" onclick="document.getElementById('formgastos').reset();">Novo</button>
				</div>
			</div>
		</form>
</div>
<br/>
<br/>
<a href="/listagastos">Lista Gastos</a>
<br/>
<br/>

<form action="/pesquisagastos" method="post">


<div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s8">
        	<i class="material-icons prefix">announcement</i>
          	
			<input type="text" id="nomepesquisa" name="nomepesquisa"  class="datepicker validade"/>
			<label for="nomepesquisa">Pesquisa por data : </label>
        </div>

        <div class="input-field col s4">
          <input type="submit" value="Filtrar" class="waves-effect waves-light btn">
        </div>
      </div>
    </div>
  </div>


</form>
<form action="/pesquisagastoscategoria" method="post">
<div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s8">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="autocomplete-input" name="categoria" class="autocomplete">
          <label for="autocomplete-input">Categoria</label>
        </div>


        <div class="input-field col s4">
          <input type="submit" value="Filtrar" class="waves-effect waves-light btn">
        </div>
      </div>
    </div>
  </div>
<br/>
<br/>
<table>

<tr th:each="gasto : ${gastos}">
<td th:text = "${gasto.codigousuario}"></td>
<td th:text = "${gasto.descricao}"></td>
<td th:text = "${gasto.valor}"></td>
<td th:text = "${#dates.format(gasto.data, 'dd-MM-yyyy')}"></td>
<td th:text = "${gasto.categoria.nome}"></td>
<td><a th:href="@{/editargastos/{idgastos}(idgastos=${gasto.codigousuario})}">Editar</a></td>
<td><a th:href="@{/removergastos/{idgastos}(idgastos=${gasto.codigousuario})}">Excluir</a></td>
</tr>
</table>

<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="/materialize/js/materialize.js"></script>

</body>
</html>